= link_to 'New blog', new_blog_path
%h1 Listing Blogs
= will_paginate(@blogs, params: {check: 'test'}, style: 'color:red', previous_label: 'back')
%table
  %tr
    %th Title
    %th Text
  - @blogs.each do |blog|
    %tr
      %td= blog.title
      %td= blog.text
      %td= link_to 'Show', blog_path(blog)
      %td= link_to 'Edit', edit_blog_path(blog)
      %td= link_to 'Destroy', blog_path(blog), |
          method: :delete,                    |
          data: { confirm: 'Are you sure?' }  |


