%p
  %strong Title:
  = @blog.title
%p
  %strong Text:
  = @blog.text

%h2 Comments
- if @comment && @comment.errors.any?
  #error_explanation
    %h2
      = pluralize(@comment.errors.count, "error")
      prohibited
      this comment from being saved:
    %ul
      - @comment.errors.full_messages.each do |msg|
        %li= msg
= render @blog.comments
%h2 Add a comment:
= render 'comments/form', blog: @blog
= link_to 'Edit', edit_blog_path(@blog)
= link_to 'Back', blogs_path

